main {
  text-align: center;
}

textarea {
  resize: none
}

div {
  column-count: 6;
}
button {
  padding: 5px 75px;
  margin: 10px 0;
}

ol {
  margin: 0;
}

li {
  color: #23527c;
  font-size: 0.95em;
}

span {
  font-weight: bold;
}

span::before {
  content: '';
  display: block;
  margin-top: 10px;
}